# aiohttp==3.9.3
# fastapi[standard]
# uvicorn[standard]
# jinja2
# python-multipart

# python-dotenv==1.0.0
# SQLAlchemy==2.0.23
# asyncpg==0.29.0
# pandas==2.2.0

fastapi==0.104.1
uvicorn[standard]==0.24.0
supabase==2.0.0
python-dotenv==1.0.0
pydantic
python-multipart==0.0.6